* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

.box {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.box__item {
    display: block;
}